<app-nav-bar [estaLogueado]="this.logueado" [esAdmin]="this.admin"></app-nav-bar>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <br>
      <h1>ALTA REPARTIDOR</h1>
      <br>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">NOMBRE</span>
        </div>
        <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1"
          [(ngModel)]="this._nombre">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">DNI</span>
        </div>
        <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1"
          [(ngModel)]="this._dni">
      </div>


      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">EDAD</span>
        </div>
        <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1"
          [(ngModel)]="this._edad">
      </div>


      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">CAPACIDAD DE TRANSPORTE</span>
        </div>
        <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1"
        [(ngModel)]="this._capacidadDeTransporte" >
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">UNIDAD PROPIA</span>
        </div>
        <select id="miselect" class="form-control" (change)="Cambio($event)">
          <option disabled selected hidden>SELECCIONE</option>
          <option [value]="true" >SI</option>
          <option [value]="false" >NO</option>
        </select>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">PAIS</span>
        </div>
        <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1"
          [(ngModel)]="this._pais" disabled>
      </div>

      <app-tabla-paises (OutputPais) = 'Event_GetPais($event)'></app-tabla-paises>

      <br>
      <div class="d-flex bd-highlight mb-3">
        <button class="p-2 bd-highlight btn btn-success" (click)="Aceptar()">ACEPTAR</button>
        <button class="ms-auto p-2 bd-highlight btn btn-danger" (click)="Cancelar()">CANCELAR</button>
      </div>


    </div>
  </div>
</div>

