<app-nav-bar [estaLogueado]="this.logueado" [esAdmin]="this.admin"></app-nav-bar>

<div class="container py-4">

  <div class="p-5 mb-4 bg-light rounded-3">
    <div style="height: 30vh; overflow: hidden;">
      <app-listado-repartidor [listaRepartidores]="this.listaRepartidores" (repartidorSelect)="GetRepartidor($event)"></app-listado-repartidor>
    </div>
  </div>

  <div class="row align-items-md-stretch">
    <div class="col-md-6">
      <div class="h-100 p-5 text-white bg-dark rounded-3">
        <div style="height: 32vh; overflow: hidden;">
          <app-detalle-repartidor [repartidor]="this.repartidor"></app-detalle-repartidor>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="h-100 p-5 bg-light border rounded-3">
        <div style="height: 32vh; overflow: hidden;">
          <app-pais-repartidor [dataPais]="this.paisDataInput"></app-pais-repartidor>
        </div>
      </div>
    </div>
  </div>
</div>
